$basecolor:   #ddd;
$size:        26px;

header{
  width: 100%;
  background-color: #ffffff;
  @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.4));
  height: 80px;


  .main-menu{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    li{
      display: inline-block;
      vertical-align: middle;
      margin-right: 6%;
      font-size: 16px;
      line-height: 1.4;
      .logotype{
        font-family: "robotobold";
        font-size: 24px;
        color: #000;
      }
      .menu-links{
      }
    }
  }
  .right-bar{
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    width: 20%;
    .links {
      margin-left: 15px;
      color: #757575;
      &.glyphicon-cog {
        top: -7px;
      }
    }
  }
}