doctype html
html lang='en' ng-app='RedPen'
  head
    meta charset='utf-8'
    title
      |Дашборд СланцНефть — Red Pen
    link rel='stylesheet' href='./../css/main.css'
    script src='./../node_modules/angular/angular.js'
    script src='./../node_modules/angular-route/angular-route.js'
    script src='./../node_modules/angular-resource/angular-resource.js'
    script src='./../js/jquery-1.11.3.min.js'
    script src="./../js/static_plugins/masonry/masonry.js"
    script src='./../js/static_plugins/fusioncharts.js'
    script src='./../js/static_plugins/canvasjs/canvasjs.js'
    script src='./../js/static_plugins/canvasjs/jquery.canvasjs.js'
    script src='./../js/static_plugins/fusioncharts.charts.js'
    script src='./../js/static_plugins/angular-fusioncharts.min.js'
    script src='./../js/app.js'
    script src='./../js/Controller.js'
    script src='./../js/common.js'

  body.clearfix ng-controller='GreatingCtrl'
    header
      div.max-width-wrap.v-al-mid
        ul.main-menu
          li
            span.logotype СЛАНЦНЕФТЬ
          li
            a.menu-links href="#" О площадке
          li
            a.menu-links href="#" Зал Сланца
          li
            a.menu-links href="#" Новости
        div.right-bar
          a.authentication href="#" Мой профиль
          a.links.glyphicon.glyphicon-bell.glyphicon-buzz-out href="#" aria-hidden="true"
          a.links.glyphicon.glyphicon-cog.glyphicon-icon-spin href="#" aria-hidden="true"

    main
      div.max-width-wrap
        ul.graphics.clearfix

          li class="graphic-item ng-class: graph.minBlockWidth ? 'smaller' : 'bigger'" ng-repeat="graph in barDiagrams"
            div.graphic-item_wrap ng-click="getBarCharts(graph.id, graph.dataPoints);"
              div.graphic-item_title
                | {{graph.title}}
              div.graphic-item_bar-chart ng-attr-id="{{graph.id}}" style="height: {{graph.height}}"

          li class="graphic-item ng-class: graph.minBlockWidth ? 'smaller' : 'bigger'" ng-repeat="graph in doughnutDiagrams"
            div.graphic-item_wrap ng-click="getDoughnutCharts(graph.id, graph.dataPoints, graph.hAlign, graph.vAlign);"
              div.graphic-item_title
                | {{graph.title}}
              div.graphic-item_doughnut-chart ng-attr-id="{{graph.id}}" style="width: {{graph.width || '60%'}}; height: {{graph.height || '120px'}}"

          li class="graphic-item ng-class: graph.minBlockWidth ? 'smaller' : 'bigger'" ng-repeat="graph in lineDiagrams"
            div.graphic-item_wrap ng-click="getLineCharts(graph.id, graph.dataPoints);"
              div.graphic-item_title
                | {{graph.title}}
              div.graphic-item_quantity
                |{{graph.commonQuantity}}
                p
                  |{{graph.measure}} за все время
              div.graphic-item_chart ng-attr-id="{{graph.id}}"
              div.graphic-item_description
                p.graphic-item_item_description.top
                  span +3000
                  span +3500
                  span +5000
                p.graphic-item_item_description.bottom
                  span 1 квартал
                  span 2 квартал
                  span 3 квартал

    footer
      div.bottom-links
        div.max-width-wrap
          a.our-contacts href="#" Контакты
          a.our-rules href="#" Правила
          a.our-terms href="#" Пользовательское соглашение
      div.copyright
        div.max-width-wrap
          | © 1995—2016 ОАО СланцНефть. Россия, Москва, 117333, ул. Петрова, д. 19 <br/>Генеральная лицензия на использование недр от 12 августа 2013 года.
