.graphics{
  padding: 40px 0;
  margin-left: -3%;
  margin-right: -3%;
  .graphic-item{
    background: #ffffff;
    padding: 20px 0;
    text-align: center;
    float: left;
    margin: 20px 2%;
    position: relative;
    @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.4));
    &.smaller{
      width: 21%;
      .graphic-item_chart{
        height: 120px;
        width: 100%;
      }
    }
    &.bigger{
      width: 46%;
    }
    &_title{
      font-size: 16px;
      height: 50px;
      max-width: 80%;
      margin: 0 auto;
    }
    &_quantity{
      font-size: 24px;
      p{font-size: 12px;}
    }
    &_bar-chart{
      height: auto;
      width: 80%;
      display: inline-block;
      margin: 0 auto;
    }
    &_doughnut-chart{
      width: 80%;
      margin: 0 auto;
    }
    &_description{
      font-size: 12px;

    }
    &_diagram{
      &-graph{
        border: 1px solid red;

      }
    }
    .graphic-item_item_description{
      &.top{
        span{
          display: inline-block;
          width: 33%;
          text-align: center;
        }
      }
      &.bottom{
        span{
          color: #999999;
          display: inline-block;
          width: 33%;
          text-align: center;
        }
      }
    }

  }
  #rusMap{
    height: 100%;
    .land{
      @include scale(0.32);

      &.units22500{
        fill: #1b8b14;
      }
      &.units20000{
        fill: #1b8b14;
      }
      &.units18000{
        fill: #5da118;
      }
      &.units15000{
        fill: #5da118;
      }
      &.units12000{
        fill: #8acb3d;
      }
      &.units11000{
        fill: #9fda67;
      }
      &.units10000{
        fill: #cbf4a1;
      }
      &.units90000{
        fill: #cbf4a1;
      }
      &.units80000{
        fill: #d9f4bc;
      }
      &.units70000{
        fill: #ddf0ca;
      }
      &.units100{
        fill: #bababa;
      }
    }
    svg{
      width: 80%;
      height: 100%;
    }
  }
}